<!DOCTYPE html>
<html ng-app="app">
<head>
    <title></title>
    <meta charset="utf-8" />
    <script src="Scripts/jquery-1.9.1.min.js"></script>
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="Scripts/angular.js"></script>
    <script src="app/app.module.js"></script>
    <script src="app/main.js"></script>
    <script src="app/phoneController.js"></script>
</head>
<body>
    <div ng-controller="phoneController">
        <ul>
            <li ng-repeat="phone in phones">
                <b>{{phone.model}}</b>
                <p>Цена: {{phone.price}} $</p>
                <p>Производитель: {{phone.company}}</p>
                <p>Описание : {{phone.description}}</p>
                <p>День завоза : {{phone.last_change}}</p>
            </li>
        </ul>
        <button ng-click="add()" class="info">Add new</button>
    </div>
</body>
</html>
